body {
	text-align: center;
}

.user-container {
	width: 90%;
	margin: auto;
}

.user-container > ul {
	list-style-type: none;
}

.user-container li {
	display: inline-block;
	width: 25%;
	text-align: center;
}
